* {
    font-family: Nunito;
}

.card-container {
    width: 100%;
    padding: 0.5em 0;
}

.card {
    margin-top: 1.75rem;
    padding: 2rem;
    margin: 0 1rem;
    border-radius: 1.5rem;
    background-color: #D9FCC9;

}

.checkbox{
    position: relative;
    height: 1.25rem;
    width: 1.25rem;
    flex-shrink: 0;
    appearance: none;
    border-radius: 0.375rem;
    background-color: #00AA95;
    margin: 0.25rem;

}

.checkbox:focus{
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.checkbox:checked {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://webdevtrick.com/demos/checkmark.svg");
    background-size: 75%;
}